<div class="mt-4">
    <form method="POST" action="">
    <div class="row mb-3">
        <label for="search-input" class="col-sm-2 col-form-label">Search</label>
        <div class="col-sm-10">
        <input type="text" name="q" class="form-control" id="search-input" placeholder="Enter search">
        </div>
    </div>
        <div class="row mb-3">
        <label for="gender-input" class="col-sm-2 col-form-label">Gender</label>
        <div class="col-sm-10">
        <select type="text" name="q" class="form-control" id="gender-input">
            <option value="">Select Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        </div>
    </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>